#homepage{
    display: flex;
    flex-direction: column;
}

.section-1{
    background-color: #1F2937;
    height: 500px;
    margin: 0px;
    padding: 0px;
   
}

body {
    margin: 0px;
    padding: 0px;
}

.header{
    height: 50px    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 80px 0px 80px;
    
}

.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.right-part{
    display: flex;
    align-items: center;
}



ul a{
    text-decoration: none;
    color: #E5E7EB;
    font-size:16px;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}


/* ----------------------------------  */

.section-1-content{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.tp-left{
    display: flex;
    flex-direction: column;
    flex-basis: 380px;
}
.tp-left p{
    color: #E5E7EB;
    font-size: 18px;
}

.signup-btn{
    padding: 8px;
    width: 105px;
    font-size: 14px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 8px;
    border: 0px;
}

#title-1{
    font-size: 48px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9faf8;
}

.tp-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39414d;
    flex-basis: 500px;
}

.tp-right p{
    font-size: 18px;
    color: #E5E7EB;   
}

/* --------------------------------------- */



.section-2{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    justify-content: center;
    height: 400px;
}

#title-2{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: #1F2937;
}
   
.section-2-content{
    display: flex;
    gap: 30px;
    
}


.info{
    display: flex;
    flex-direction: column;
    width: 140px;
    align-items: center;
    
    gap: 5px;
}

.img{
    border: 2px solid #3882f6;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.text{
    font-size: 16px;
    text-align: center;
    color:#1F2937;
}

/* ---------------------------------------------------- */


.section-3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 20px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.author{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-end;
    color: #1F2937;
}

/* ------------------------------------------------------------- */

.section-4{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.call-to-action-box{
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    flex-basis: 1000px;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    gap:90px;
}


.call-to-action-text{
    display: flex;
    flex-direction: column;
    
}

.call-to-action-text .title-3{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: white;
}

.call-to-action-text div{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-btn-2{
    padding: 8px;
    width: 105px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    border: 2px solid white;
  
}


    

